

.titre1 {
	text-align: center ;
	height : 10% ; 
	
	padding-top : 50px;
	
	
}
.logo{
	text-align: center;
}

.titre2 {
	text-align: center ;
	text-decoration : underline;
	text-shadow : 5px 5px 2px teal;
	
	
	
}

.loginclasse
{
	padding-top : 1%;
	
}

#login {
	font-size: 16pt;
	padding-top : 10px;
	height : 20%;
	 text-align: center ; 
	 
}

.classe1 {
	text-align: center ; 
	font-size: 16pt;
	padding-top : 10px;
	
}

#inscription {	
	
	font-family:sans-serif;
	font-weight: bold;
	border-radius: 10px;
	
	

}
.inscription {
	text-align : center ; 
	font-size: 16pt;
	padding-top : 5px;
	
}


/* PIED DE PAGE */
.footer {
 	position : absolute;
 	bottom: 0;
 	word-spacing: 150px;
	width: 100%;
	text-align: center;
	display: block;
 }
a:link {
	color:black;
}

a:visited {
	color:black;
}

a:hover {
    color: rgb(236, 185, 31);
}
