
/* ON FAIT UN RESET */
* {
	margin :0;
	padding: 0;
}

body {
	font-family: 'Lucida Grande', 'Helvetica Neue', sans-serif;
}

html {
	background-image: url(../images/fond_ecran_user.jpg);
	background-size: 100%;
}


/* ONGLETS RETOUR */
#retour {
	font-size: 14px;
	float: right;
	margin-top: 30px;
	margin-right: 100px;
	font-weight: bold;
	text-decoration: none;
	border-radius: 10px;
	border: 1.5px solid black;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
}

a:link {
 	color:black;
 }

 a:visited {
 	color:black;
 }

 a:hover {
     color: rgb(236, 185, 31);
 }

/* JUSTE POUR LA DECORATION -> LA BARRE noir VIDE*/
#barre0 {
	float: center;
	margin-top: 0px;
	background: #00FFFF;
	padding-top: 5px;
	padding-bottom: 5px;
}



 #photo_profil
 {
	 opacity: 1.0;

	 display: inline-block;


 }

  #description
 {
	 opacity: 1.0;
	 display: inline-block;
	  margin-left: 10%;
	  font-size: 20px;
	  font-weight: bold;
 }

 #modif_user
{
 opacity: 1.0;
 display: inline-block;
	margin-left: 10%;
	font-size: 20px;
	font-weight: bold;
}

 h1
 {

	 text-align: center;
	 margin-top: 3%;

 }

 .fond
 {
	 opacity: 0.9;
	 margin-top: 7%;
	 margin-left: 25%;

	  background-image: url(../images/background9.png);
	  width: 60%;
 }
